<div>
  <div>
    <h1>
      List of all your bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmark
    </h2>

    <form action="/insert_bookmark" method="post">
      <div>
        <label for="user_id_box">
        </label>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
      </div>

      <div>
        <label for="promotion_id_box">
          Promotion ID
        </label>

        <input type="text" id="promotion_id_box" name="query_promotion_id">
      </div>

      <button>
        Create bookmark
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="content-table" border="1">
      <tr>
        <th>
          Vendor Name
        </th>

        <th>
          Promotion Title
        </th>

        <th>
          Promotion ID
        </th>

        <th>
          Started At
        </th>

        <th>
          Redeem By
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
        <tr>

          <td>
            <%= Vendor.where({ :id => Promotion.where({ :id => a_bookmark.promotion_id}).first.vendor_id}).first.name %>
          </td>

          <td>
            <%= Promotion.where({ :id => a_bookmark.promotion_id}).first.title %>
          </td>

          <td>
            <%= Promotion.where({ :id => a_bookmark.promotion_id}).first.id %>
          </td>

          <td>
            <%= Promotion.where({ :id => a_bookmark.promotion_id}).first.started_at.to_time.strftime('%B %e at %l:%M %p') %> ago
          </td>
          <td>
            <%= Promotion.where({ :id => a_bookmark.promotion_id}).first.ended_at.to_time.strftime('%B %e at %l:%M %p') %> ago
          </td>

          <td>
            <a href="/bookmarks/<%= a_bookmark.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
