<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mystyle.css">

    <title>Promo Index</title>
  </head>

  <body class="index-promo">
    <div>
      <div>
        <h1>
          Bookmark #<%= @the_bookmark.id %> details
        </h1>

        <div>
          <div>
            <a href="/bookmarks">
              Go Back
            </a>
          </div>

          <dl>
            <dt>
              Vendor Name
            </dt>
            <dd>
              <%= Vendor.where({ :id => Promotion.where({ :id => @the_bookmark.promotion_id}).first.vendor_id}).first.name %>
            </dd>

            <dt>
              Promotion Description
            </dt>
            <dd>
              <%= Promotion.where({ :id => @the_bookmark.promotion_id}).first.description %>
            </dd>

            <dt>
              Promotion Title
            </dt>
            <dd>
              <%= Promotion.where({ :id => @the_bookmark.promotion_id}).first.title %> ago
            </dd>

            <dt>
              Promotional ID #
            </dt>
            <dd>
              <%= @the_bookmark.promotion_id %>
            </dd>

            <dt>
              Started At
            </dt>
            <dd>
              <%= Promotion.where({ :id => @the_bookmark.promotion_id}).first.started_at.to_time.strftime('%B %e at %l:%M %p') %> ago
            </dd>

            <dt>
              Ends At
            </dt>
            <dd>
              <%= Promotion.where({ :id => @the_bookmark.promotion_id}).first.ended_at.to_time.strftime('%B %e at %l:%M %p') %> ago
            </dd>
          </dl>
          <div>
            <a href="/delete_bookmark/<%= @the_bookmark.id %>">
              Delete bookmark
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <div>
  <div>
    <h2>
      Edit bookmark
    </h2>

    <form action="/modify_bookmark/<%= @the_bookmark.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_bookmark.user_id %>">
      </div>

      <div>
        <label for="promotion_id_box">
          Promotion
        </label>

        <input type="text" id="promotion_id_box" name="query_promotion_id" value="<%= @the_bookmark.promotion_id %>">
      </div>

      <button>
        Update bookmark
      </button>
    </form>
  </div>
</div> -->

<hr>
